<h1>Hi! Please confirm your email!</h1>

<p>
    Please reset your password by clicking the following link: <br><br>
    <a href="{{ absolute_url(path('app_reset_password',{'reset_token':reset_token})) }}">Reset my Password</a>.
</p>

<p>
    Cheers!
</p>